# API access
vultr_api_key = "your-api-key-for-vultr"

# instance configuration
vultr_instance_region = "nrt"
vultr_instance_plan = "vhf-2c-2gb"
vultr_instance_os_id = 387
bot_count = 1
instance_prefix = "myvps"

# login
instance_user = "myuser"

# password is created randomly! - see output or use terraform output
